aside.sidebar#sidebar
  ul.sidebar-nav#sidebar-nav
    li.nav-item
      a.nav-link(href="index.html")
        i.bi.bi-grid
        span Dashboard
    
    li.nav-item
      a.nav-link.collapsed(data-bs-target="#components-nav" data-bs-toggle="collapse" href="#")
        i.bi.bi-menu-button-wide
        span Components
        i.bi.bi-chevron-down.ms-auto
      ul#components-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="components-alerts.html")
            i.bi.bi-circle
            span Alerts
        li
          a(href="components-accordion.html")
            i.bi.bi-circle
            span Accordion
        li
          a(href="components-badges.html")
            i.bi.bi-circle
            span Badges
        li
          a(href="components-breadcrumbs.html")
            i.bi.bi-circle
            span Breadcrumbs
        li
          a(href="components-buttons.html")
            i.bi.bi-circle
            span Buttons
        li
          a(href="components-cards.html")
            i.bi.bi-circle
            span Cards
        li
          a(href="components-carousel.html")
            i.bi.bi-circle
            span Carousel
        li
          a(href="components-list-group.html")
            i.bi.bi-circle
            span List group
        li
          a(href="components-modal.html")
            i.bi.bi-circle
            span Modal
        li
          a(href="components-tabs.html")
            i.bi.bi-circle
            span Tabs
        li
          a(href="components-pagination.html")
            i.bi.bi-circle
            span Pagination
        li
          a(href="components-progress.html")
            i.bi.bi-circle
            span Progress
        li
          a(href="components-spinners.html")
            i.bi.bi-circle
            span Spinners
        li
          a(href="components-tooltips.html")
            i.bi.bi-circle
            span Tooltips
    
    li.nav-item
      a.nav-link.collapsed(data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#")
        i.bi.bi-journal-text
        span Forms
        i.bi.bi-chevron-down.ms-auto
      ul#forms-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="forms-elements.html")
            i.bi.bi-circle
            span Form Elements
        li
          a(href="forms-layouts.html")
            i.bi.bi-circle
            span Form Layouts
        li
          a(href="forms-editors.html")
            i.bi.bi-circle
            span Form Editors
        li
          a(href="forms-validation.html")
            i.bi.bi-circle
            span Form Validation
    
    li.nav-item
      a.nav-link.collapsed(data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#")
        i.bi.bi-layout-text-window-reverse
        span Tables
        i.bi.bi-chevron-down.ms-auto
      ul#tables-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="tables-general.html")
            i.bi.bi-circle
            span General Tables
        li
          a(href="tables-data.html")
            i.bi.bi-circle
            span Data Tables
    
    li.nav-item
      a.nav-link.collapsed(data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#")
        i.bi.bi-bar-chart
        span Charts
        i.bi.bi-chevron-down.ms-auto
      ul#charts-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="charts-chartjs.html")
            i.bi.bi-circle
            span Chart.js
        li
          a(href="charts-apexcharts.html")
            i.bi.bi-circle
            span ApexCharts
        li
          a(href="charts-echarts.html")
            i.bi.bi-circle
            span ECharts
    
    li.nav-item
      a.nav-link.collapsed(data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#")
        i.bi.bi-gem
        span Icons
        i.bi.bi-chevron-down.ms-auto
      ul#icons-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="icons-bootstrap.html")
            i.bi.bi-circle
            span Bootstrap Icons
        li
          a(href="icons-remix.html")
            i.bi.bi-circle
            span Remix Icons
        li
          a(href="icons-boxicons.html")
            i.bi.bi-circle
            span Boxicons

    li.nav-heading Pages
    
    li.nav-item
      a.nav-link.collapsed(href="users-profile.html")
        i.bi.bi-person
        span Profile
    
    li.nav-item
      a.nav-link.collapsed(href="pages-faq.html")
        i.bi.bi-question-circle
        span F.A.Q
    
    li.nav-item
      a.nav-link.collapsed(href="pages-contact.html")
        i.bi.bi-envelope
        span Contact
    
    li.nav-item
      a.nav-link.collapsed(href="pages-register.html")
        i.bi.bi-card-list
        span Register
    
    li.nav-item
      a.nav-link.collapsed(href="pages-login.html")
        i.bi.bi-box-arrow-in-right
        span Login
    
    li.nav-item
      a.nav-link.collapsed(href="pages-error-404.html")
        i.bi.bi-dash-circle
        span Error 404
    
    li.nav-item
      a.nav-link.collapsed(href="pages-blank.html")
        i.bi.bi-file-earmark
        span Blank

main#main.main
