footer.footer#footer
  .copyright
    | &copy; Copyright 
    strong
      span NiceAdmin
    | . All Rights Reserved

a.back-to-top.d-flex.align-items-center.justify-content-center(href="#")
  i.bi.bi-arrow-up-short

script(src="assets/vendor/apexcharts/apexcharts.min.js")
script(src="assets/vendor/chart.js/chart.umd.js")
script(src="assets/vendor/echarts/echarts.min.js")
script(src="assets/vendor/quill/quill.js")
script(src="assets/vendor/simple-datatables/simple-datatables.js")
script(src="assets/vendor/tinymce/tinymce.min.js")
script(src="javascripts/main.js")