doctype html
html
  head
    title Welcome to Dashboard
  body
    ul
      li
        a(href="/dashboard") Dashboard
      li
        a(href="/users/profile/${id}") Profile
    h1 Welcome to Dashboard
    p This is the dashboard page.

    a(href="/auth/logout") Logout
