extends layouts/layout

block content
    include partials/menu.jade
    include partials/sidebar-menu.jade
    h1 Welcome to Dashboard, #{firstname}
    p Your user id is #{id} and your username is #{username}.

