doctype html
html
  head
    title Welcome to Dashboard
  body
    ul
      li
        a(href="/dashboard") Dashboard
      li
        a(href='/users/profile/#{id}') Profile
      li
        a(href="/auth/logout") Logout
    h1 Welcome to Dashboard, #{firstname}
    p This is the dashboard page.

