extends layout

block content
  h1= title
  p Welcome to #{title}

  div.inline-container.justify-content-center
    p.spacer-right No account? 
    a(href="/register") Register

  div.inline-container.justify-content-center
    a(href="/login") Login