extends layouts/layout

block content
  div.row.m-auto(style="height:80vh;")
    div.col-xs-12.col-md-6.col-lg-4.col-xl-3.m-auto.d-flex.justify-content-center.text-center.p-4
      div.row.border.p-4
        h1= title
        p Please login
        //- small(style="color: #888") Enter your email address to recieve the OTP

        p#error-message(style="color: red; text-align: center;") 
        p#success-message(style="color: green; text-align: center;")      

        form#login-form(method="post", action="/auth", onsubmit="return loginUser(event)")
          input.form-control(type="text", name="email", placeholder="Enter your email", required="required")
          input.form-control(type="password", name="password", placeholder="Enter your password", required="required")
          //- input.btn.btn-success(type="submit", value="Login")
          button.btn.btn-primary(type="submit") Login
          p.mt-4 No account? 
            a(href="/register") Register         
