extends layout

block content
  .form-wrapper
    h1= title
    p Welcome to #{title}
    div.inline-container
        p.spacer-right Have an account?
        a(href="/") Login
      
    p#SuccessMessages
    p#ErrorMessages

    form(action="/users", method="POST") 
      input(type="text", name="firstname", placeholder="Enter your first name")
      input(type="text", name="lastname", placeholder="Enter your last name")
      input(type="text", name="email", placeholder="Enter your email")
      input(type="password", name="password", placeholder="Enter your password")
      input(type="password", name="password2", placeholder="Confirm your password")
      .submit-button
        input(type="submit", value="Submit")
        
  