extends layouts/layout

block content
  div.container
    section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
      div.container
        div.row.justify-content-center
          div.col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            div.d-flex.justify-content-center.py-4
              a.logo.d-flex.align-items-center.w-auto(href="/")
                img(src="assets/img/logo.png" alt="")
                span.d-none.d-lg-block Express Admin

            div.card.mb-3
              div.card-body
                div.pt-1.pb-2
                  h5.card-title.text-center.pb-0.fs-4 Create an Account
                  p.text-center.small Enter your personal details to create account

                  .block.text-danger#error-message(style="display: none")
                  .block.text-success#success-message(style="display: none")

                form#register-form.row.g-3.needs-validation(action="/users", method="POST", onsubmit="return registerUser(event)" novalidate)
                  div.col-12
                    label.form-label(for="yourName") First Name
                    input#yourName.form-control(type="text" name="firstname" required)
                    div.invalid-feedback Please, enter your firstname!

                  div.col-12
                    label.form-label(for="yourName") Last Name
                    input#yourName.form-control(type="text" name="lastname" required)
                    div.invalid-feedback Please, enter your lastname!

                  div.col-12
                    label.form-label(for="yourEmail") Your Email
                    input#yourEmail.form-control(type="email" name="email" required)
                    div.invalid-feedback Please enter a valid Email address!

                  div.col-12
                    label.form-label(for="yourPassword") Password
                    input#yourPassword.form-control(type="password" name="password" required)
                    div.invalid-feedback Please enter your password!
                  
                  div.col-12
                    label.form-label(for="yourPassword2") Confirm Password
                    input#yourPassword.form-control(type="password" name="password2" required)
                    div.invalid-feedback Password did not match!

                  div.col-12
                    div.form-check
                      input#acceptTerms.form-check-input(type="checkbox" name="terms" value="" required)
                      label.form-check-label(for="acceptTerms")
                        | I agree and accept the 
                        a(href="#") terms and conditions
                      div.invalid-feedback You must agree before submitting.

                  div.col-12
                    button.btn.btn-primary.w-100(type="submit") Create Account

                  div.col-12
                    p.small.mb-0 Already have an account? 
                      a(href="/login") Log in
