aside.sidebar#sidebar
  ul.sidebar-nav#sidebar-nav
    li.nav-item
      a.nav-link(href="/dashboard")
        i.bi.bi-house
        span Dashboard

    li.nav-heading Resources

    li.nav-item
      a.nav-link.collapsed(data-bs-target="#contacts-nav", data-bs-toggle="collapse", href="#")
        i.bi.bi-people
        span Contacts
        i.bi.bi-chevron-down.ms-auto
      ul#contacts-nav.nav-content.collapse(data-bs-parent="#sidebar-nav")
        li
          a(href="#")
            i.bi.bi-person-heart
            span Students
        li
          a(href="#")
            i.bi.bi-person-hearts
            span Parents
        li
          a(href="#")
            i.bi.bi-person-workspace
            span Teachers 

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-chat
        span Chats

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-door-open
        span Rooms

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-megaphone
        span Recitals

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-people
        span Memberships

    li.nav-heading Enrollments

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-mortarboard
        span Courses

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-backpack4
        span Classes

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-hourglass
        span Workshops      

    li.nav-heading Calendars and Events

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-calendar3
        span Appointments

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-calendar-check
        span Upcoming Events

    li.nav-heading Marketing

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-bar-chart-line
        span Reports

    li.nav-item
      a.nav-link.collapsed(href="#")
        i.bi.bi-ticket-perforated
        span Tickets      