doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel=stylesheet, href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css')
    script(src="/javascripts/update-user.js")
    script(src="/javascripts/delete-user.js")
    script(src="/javascripts/authservice.js")
    script(src="/javascripts/bootstrap.js")
  body
    block content
