extends layouts/layout

block content
    //- Emergency logout, activated when needed
    //- a(href=`auth/logout`) Logout
    include partials/menu.jade
    include partials/aside.jade
    main#main.main
        h1 Welcome to Dashboard, #{firstname}
        p Your username is #{username}.   

    include partials/footer.jade
